<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="formulario" action="/api/sessions/recupero01" method="post">

        <input type="email" name="email" placeholder="email" id="email" />
        
        <br />
            <input class="inputSubmit" type="submit" value="Enviar email de recupero" id="submit" />
        <br />

      </form>

    <div>
        {{#if mensaje}}
            <p>{{mensaje}}</p>
        {{/if}}
    </div>  
</body>
<script src="/js/recupero01.js"></script>
</html> 