<h2>Registro usuarios:</h2>
<hr>
<form action="/api/sessions/registro" method="post">

    {{#if error}}
        <div style="font-weight: bold; color:red;">{{error}}</div>
    {{/if}}

    {{#if mensaje}}
        <div style="font-weight: bold; color:green;">{{mensaje}}</div>
    {{/if}}

    <input type="text" name="nombre" placeholder="nombre" id="nombre">
    <input type="text" name="apellido" placeholder="apellido" id="apellido">
    <input type="email" name="email" placeholder="email" id="email">
    <input type="password" name="password" placeholder="contraseña" id="password">
    <br>
    <input type="submit" value="Registrar" id="submit">

</form>
<a href="/">Volver al inicio</a>
<script src="/js/registro.js"></script>
